.cartItem {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
  //display: block;
  width: 100%;
  background: white;
}

.removing:after {
  content: '';
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: orangered;
  opacity: 0.8;
}
.removed {
  opacity: 0;
  visibility: hidden;
}
