.shop_pagination {
  cursor: pointer;
  a {
    transition: 0s !important;
    &:hover {
      color: white !important;
    }
  }
  .arrow_hide {
    opacity: 0.8;
    cursor: initial;
    &:hover {
      background: white;
    }
  }
}
