.items {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow: scroll !important;
  overflow-x: hidden;
  flex-wrap: wrap;
  max-height: 600px;
  @media (max-width: 991px) {
    // flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  @media (max-width: 768px) {
    // flex-direction: column;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .empty {
    color: white;
    display: flex;
    text-align: left;
    flex-direction: column;
  }
}
.searchInput {
  border-bottom: 1px solid white !important;
  padding: 10px !important;
  border-radius: 0px !important;
}
