.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: white;
  color: black;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  transition: 0.3s;
  @media (max-width: 768px) {
  }
  &:hover {
    color: black;
  }
  .info {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .title {
      font-size: 1em;
    }
    .content {
      font-size: 1em;
      font-weight: 400;
    }
  }
  .img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    transition: 0.3s !important;
  }
}
